Source: nullunit
Section: nonfree/autobots
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: debhelper (>= 9), python3 (>= 3.4), python3-dev (>=3.4), python3-setuptools, lsb-release
X-Python3-Version: >= 3.4
Standards-Version: 3.8.3

Package: nullunit
Architecture: all
Depends:python3 (>= 3.4), python3-cinp (>= 0.9), cron, git, make, config-curator, ${misc:Depends}, ${python3:Depends}
Description: MCP Agent
  MCP Agent
